[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
attrs = "*"
cattrs = "*"
numpy = "*"
pillow = "*"
python-dotenv = "*"
traceback-with-variables = "*"
orjson = "*"
# dis-taipan = "*"
typing-extensions = "*"
"interactions.py" = {extras = ["jurigged", "sentry"], version = "*"}
aiomonitor = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-vcr = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"

[scripts]
sotiny = "python sotiny.py"
