[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
attrs = "*"
cattrs = "*"
numpy = "*"
pillow = "*"
python-dotenv = "*"
traceback-with-variables = "*"
orjson = "*"
naff = "==1.7.1"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-vcr = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"

[scripts]
sotiny = "python sotiny.py"
