[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
"discord.py" = "*"
pillow = "*"
numpy = "*"
discord-flags = "*"
aioredis = "*"
jishaku = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"
