interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://cubecobra.com/cube/api/cubejson/5d7488c28d85b07c66d22162
  response:
    body:
      string: "{\"_id\":\"5d7488c28d85b07c66d22162\",\"isListed\":true,\"decks\":[\"5e3b73c478c1257d2a50ce28\",\"5e3b73c478c1257d2a50ce28\",\"5e4f7842f77e53095238d706\",\"5e4f7842f77e53095238d706\",\"5e5c1f1d93b22e284c4947a1\",\"5e5c1f1d93b22e284c4947a1\"],\"default_sorts\":[],\"cards\":[{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5d7488e08d85b07c66d2233a\",\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"type_line\":\"Creature
        \u2014 Human Cleric\",\"addedTmsp\":\"2019-09-08T04:51:44.773Z\"},{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5d7488e08d85b07c66d2233b\",\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"type_line\":\"Creature
        \u2014 Human Cleric\",\"addedTmsp\":\"2019-09-08T04:51:44.774Z\"},{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5d7488e08d85b07c66d2233c\",\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-a[...]
