interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Lightning+Bolt
  response:
    body:
      string: '{"object":"card","id":"f29ba16f-c8fb-42fe-aabf-87089cb214a7","oracle_id":"4457ed35-7c10-48c8-9776-456485fdf070","multiverse_ids":[571450],"mtgo_id":101718,"tcgplayer_id":276484,"cardmarket_id":664300,"name":"Lightning
        Bolt","lang":"en","released_at":"2022-07-08","uri":"https://api.scryfall.com/cards/f29ba16f-c8fb-42fe-aabf-87089cb214a7","scryfall_uri":"https://scryfall.com/card/2x2/117/lightning-bolt?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://cards.scryfall.io/small/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.jpg?1673147852","normal":"https://cards.scryfall.io/normal/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.jpg?1673147852","large":"https://cards.scryfall.io/large/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.jpg?1673147852","png":"https://cards.scryfall.io/png/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.png?1673147852","art_crop":"https://cards.scryfall.io/art_crop/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.jpg?1673147852","border_crop":"https://cards.scryfall.io/border_crop/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.jpg?1673147852"},"mana_cost":"{R}","cmc":1.0,"type_line":"Instant","oracle_text":"Lightning
        Bolt deals 3 damage to any target.","colors":["R"],"color_identity":["R"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"banned","gladiator":"legal","pioneer":"not_legal","explorer":"not_legal","modern":"legal","legacy":"legal","pauper":"legal","vintage":"legal","penny":"not_legal","commander":"legal","oathbreaker":"legal","brawl":"not_legal","historicbrawl":"legal","alchemy":"not_legal","paupercommander":"legal","duel":"legal","oldschool":"not_legal","premodern":"legal","predh":"legal"},"games":["paper","mtgo"],"reserved":false,"foil":true,"nonfoil":true,"finishes":["nonfoil","foil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"5a645837-b050-449f-ac90-1e7ccbf45031","set":"2x2","set_name":"Double
        Masters 2022","set_type":"masters","set_uri":"https://api.scryfall.com/sets/5a645837-b050-449f-ac90-1e7ccbf45031","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3A2x2\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/2x2?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/f29ba16f-c8fb-42fe-aabf-87089cb214a7/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A4457ed35-7c10-48c8-9776-456485fdf070\u0026unique=prints","collector_number":"117","digital":false,"rarity":"uncommon","flavor_text":"The
        sparkmage shrieked, calling on the rage of the storms of his youth. To his
        surprise, the sky responded with a fierce energy he''d never thought to see
        again.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Christopher
        Moeller","artist_ids":["21e10012-06ae-44f2-b38d-3824dd2e73d4"],"illustration_id":"013e7eda-ef8e-44cd-9832-4033d9de1c34","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":true,"story_spotlight":false,"edhrec_rank":268,"preview":{"source":"Eric
        Portnoy","source_uri":"https://twitter.com/BarbarianSSJ/status/1538542312636153856","previewed_at":"2022-06-19"},"prices":{"usd":"1.30","usd_foil":"1.08","usd_etched":null,"eur":"1.43","eur_foil":"1.10","tix":"0.87"},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=571450","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Lightning+Bolt\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Lightning+Bolt\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Lightning+Bolt"},"purchase_uris":{"tcgplayer":"https://www.tcgplayer.com/product/276484?page=1\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Lightning+Bolt\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/101718?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"efbc141655e2d87b9044173507e01311"
      X-Action-Cache:
      - HIT
      X-Scryfall-Card:
      - https://scryfall.com/card/2x2/117/lightning-bolt?utm_source=api
      X-Scryfall-Card-Image:
      - https://cards.scryfall.io/large/front/f/2/f29ba16f-c8fb-42fe-aabf-87089cb214a7.jpg?1673147852
    status:
      code: 200
      message: OK
    url: https://api.scryfall.com/cards/named?exact=Lightning+Bolt
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Shock
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"59fa8e8d-bcb8-47bf-b71a-df11c8d0f2c9\",\"oracle_id\":\"a9d288b8-cdc1-4e55-a0c9-d6edfc95e65d\",\"multiverse_ids\":[485482],\"mtgo_id\":81545,\"arena_id\":71941,\"tcgplayer_id\":215884,\"cardmarket_id\":472014,\"name\":\"Shock\",\"lang\":\"en\",\"released_at\":\"2020-07-03\",\"uri\":\"https://api.scryfall.com/cards/59fa8e8d-bcb8-47bf-b71a-df11c8d0f2c9\",\"scryfall_uri\":\"https://scryfall.com/card/m21/159/shock?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/5/9/59fa8e8d-bcb8-47bf-b71a-df11c8d0f2c9.jpg?1641847379\",\"normal\":\"https:/[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Goblin+Guide
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"3c0f5411-1940-410f-96ce-6f92513f753a\",\"oracle_id\":\"51d9564b-44fc-4de1-9119-09d7b4089378\",\"multiverse_ids\":[489800],\"mtgo_id\":82288,\"tcgplayer_id\":218846,\"cardmarket_id\":485919,\"name\":\"Goblin
        Guide\",\"lang\":\"en\",\"released_at\":\"2020-08-07\",\"uri\":\"https://api.scryfall.com/cards[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Ponder
  response:
    body:
      string: '{"object":"card","id":"44dcfc0c-b23d-48be-bf3a-a6fc6806c5e1","oracle_id":"02090581-61aa-4348-ad57-451be8ee91c2","multiverse_ids":[559801],"tcgplayer_id":269358,"cardmarket_id":652813,"name":"Ponder","lang":"en","released_at":"2022-04-29","uri":"https://api.scryfall.com/cards/44dcfc0c-b23d-48be-bf3a-a6fc6806c5e1","scryfall_uri":"https://scryfall[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=As+Foretold
  response:
    body:
      string: '{"object":"card","id":"c468b523-84fc-4657-adef-acc1eec6ef2e","oracle_id":"e4b3e0af-5caa-47c1-b5be-c56a875cbb15","multiverse_ids":[571371],"mtgo_id":101560,"tcgplayer_id":276541,"cardmarket_id":664588,"name":"As
        Foretold","lang":"en","released_at":"2022-07-08","uri":"https://api.scryfall.com/cards/c468b523-84fc-4657-adef-acc1eec6ef2[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Blood+Moon
  response:
    body:
      string: '{"object":"card","id":"d072e9ca-aae7-45dc-8025-3ce590bae63f","oracle_id":"94fac5fe-97d5-4c12-a80c-8efff9d853ae","multiverse_ids":[489791],"mtgo_id":82270,"tcgplayer_id":218848,"cardmarket_id":485929,"name":"Blood
        Moon","lang":"en","released_at":"2020-08-07","uri":"https://api.scryfall.com/cards/d072e9ca-aae7-45dc-8025-3ce590bae63f",[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Choke
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"e1ce4bab-6eb1-421f-b425-7bb0076defc7\",\"oracle_id\":\"057fa60b-10b0-4612-be0d-157076c82241\",\"multiverse_ids\":[45431],\"mtgo_id\":19021,\"mtgo_foil_id\":19022,\"tcgplayer_id\":11197,\"cardmarket_id\":873,\"name\":\"Choke\",\"lang\":\"en\",\"released_at\":\"2003-07-28\",\"uri\":\"https://api.scryfall.com/cards/e1ce4bab-6eb1-421f-b425-7bb0076defc7\",\"scryfall_uri\":\"https://scryfall.com/card/8ed/237/choke?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/e/1/e1ce4bab-6eb1-421f-b425-7bb0076defc7.jpg?1562940352\",\"normal\":\"https://car[...]
