interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://cubecobra.com/cube/api/cubejson/5d7488c28d85b07c66d22162
  response:
    body:
      string: "{\"_id\":\"5d7488c28d85b07c66d22162\",\"isListed\":true,\"decks\":[\"5e3b73c478c1257d2a50ce28\",\"5e3b73c478c1257d2a50ce28\",\"5e4f7842f77e53095238d706\",\"5e4f7842f77e53095238d706\",\"5e5c1f1d93b22e284c4947a1\",\"5e5c1f1d93b22e284c4947a1\"],\"default_sorts\":[],\"cards\":[{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5d7488e08d85b07c66d2233a\",\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"type_line\":\"Creature
        \u2014 Human Cleric\",\"addedTmsp\":\"2019-09-08T04:51:44.773Z\"},{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5d7488e08d85b07c66d2233b\",\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"type_line\":\"Creature
        \u2014 Human Cleric\",\"addedTmsp\":\"2019-09-08T04:51:44.774Z\"},{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5d7488e08d85b07c66d2233c\",\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-a[...]
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.scryfall.com/cards/collection
  response:
    body:
      string: "{\"object\":\"list\",\"not_found\":[],\"data\":[{\"object\":\"card\",\"id\":\"28d6c68f-5e41-4b10-b4fa-8f7aee6b587b\",\"oracle_id\":\"73c423b7-cab8-4e69-8070-9edbf96a6c2c\",\"multiverse_ids\":[470780],\"mtgo_id\":77590,\"tcgplayer_id\":196573,\"cardmarket_id\":392202,\"name\":\"Boros
        Guildgate\",\"lang\":\"en\",\"released_at\":\"2019-08-23\",\"uri\":\"https://api.scryfall.com/cards/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b\",\"scryfall_uri\":\"https://scryfall.com/card/c19/234/boros-guildgate?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/2/8/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b.jpg?1570759821\",\"normal\":\"https://cards.scryfall.io/normal/front/2/8/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b.jpg?1570759821\",\"large\":\"https://cards.scryfall.io/large/front/2/8/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b.jpg?1570759821\",\"png\":\"https://cards.scryfall.io/png/front/2/8/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b.png?1570759821\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/2/8/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b.jpg?1570759821\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/2/8/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b.jpg?1570759821\"},\"mana_cost\":\"\",\"cmc\":0.0,\"type_line\":\"Land
        \u2014 Gate\",\"oracle_text\":\"Boros Guildgate enters the battlefield tapped.\\n{T}:
        Add {R} or {W}.\",\"colors\":[],\"color_identity\":[\"R\",\"W\"],\"keywords\":[],\"produced_mana\":[\"R\",\"W\"],\"legalities\":{\"standard\":\"not_legal\",\"future\":\"not_legal\",\"historic\":\"legal\",\"gladiator\":\"legal\",\"pioneer\":\"legal\",\"explorer\":\"legal\",\"modern\":\"legal\",\"legacy\":\"legal\",\"pauper\":\"legal\",\"vintage\":\"legal\",\"penny\":\"legal\",\"commander\":\"legal\",\"brawl\":\"not_legal\",\"historicbrawl\":\"legal\",\"alchemy\":\"not_legal\",\"paupercommander\":\"legal\",\"duel\":\"legal\",\"oldschool\":\"not_legal\",\"premodern\":\"not_legal\"},\"games\":[\"paper\",\"mtgo\"],\"reserved\":false,\"foil\":false,\"nonfoil\":true,\"finishes\":[\"nonfoil\"],\"oversized\":false,\"promo\":false,\"reprint\":true,\"variation\":false,\"set_id\":\"0fa3ccbb-d86d-4a2e-a55e-c4979c4feeb2\",\"set\":\"c19\",\"set_name\":\"Commander
        2019\",\"set_type\":\"commander\",\"set_uri\":\"https://api.scryfall.com/sets/0fa3ccbb-d86d-4a2e-a55e-c4979c4feeb2\",\"set_search_uri\":\"https://api.scryfall.com/cards/search?order=set\\u0026q=e%3Ac19\\u0026unique=prints\",\"scryfall_set_uri\":\"https://scryfall.com/sets/c19?utm_source=api\",\"rulings_uri\":\"https://api.scryfall.com/cards/28d6c68f-5e41-4b10-b4fa-8f7aee6b587b/rulings\",\"prints_search_uri\":\"https://api.scryfall.com/cards/search?order=released\\u0026q=oracleid%3A73c423b7-cab8-4e69-8070-9edbf96a6c2c\\u0026unique=prints\",\"collector_number\":\"234\",\"digital\":false,\"rarity\":\"common\",\"flavor_text\":\"It
        promises protection to those in need and proclaims a warning to any who would
        threaten Ravnican law.\",\"card_back_id\":\"0aeebaf5-8c7d-4636-9e82-8c27447861f7\",\"artist\":\"Noah
        Bradley\",\"artist_ids\":[\"81995d11-da98-4f8b-89bd-b88ca2ddb06b\"],\"illustration_id\":\"d9efc569-1628-447d-8348-e4033f698c41\",\"border_color\":\"black\",\"frame\":\"2015\",\"full_art\":false,\"textless\":false,\"booster\":false,\"story_spotlight\":false,\"edhrec_rank\":971,\"penny_rank\":973,\"prices\":{\"usd\":\"0.13\",\"usd_foil\":null,\"usd_etched\":null,\"eur\":\"0.02\",\"eur_foil\":null,\"tix\":null},\"related_uris\":{\"gatherer\":\"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=470780\",\"tcgplayer_infinite_articles\":\"https://infinite.tcgplayer.com/search?contentMode=article\\u0026game=magic\\u0026partner=scryfall\\u0026q=Boros+Guildgate\\u0026utm_campaign=affiliate\\u0026utm_medium=api\\u0026utm_source=scryfall\",\"tcgplayer_infinite_decks\":\"https://infinite.tcgplayer.com/search?contentMode=deck\\u0026game=magic\\u0026partner=scryfall\\u0026q=Boros+Guildgate\\u0026utm_campaign=affiliate\\u0026utm_medium=api\\u0026utm_source=scryfall\",\"edhrec\":\"https://edhrec.com/route/?cc=Boros+Guildgate\"},\"purchase_uris\":{\"tcgplayer\":\"https://www.tcgplayer.com/product/196573?page=1\\u0026utm_campaign=affiliate\\u0026utm_medium=api\\u0026utm_source=scryfall\",\"cardmarket\":\"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\\u0026searchString=Boros+Guildgate\\u0026utm_campaign=card_prices\\u0026utm_medium=text\\u0026utm_source=scryfall\",\"cardhoarder\":\"https://www.cardhoarder.com/cards/77590?affiliate_id=scryfall\\u0026ref=card-profile\\u0026utm_campaign=affiliate\\u0026utm_medium=card\\u0026utm_source=scryfall\"}},{\"object\":\"card\",\"id\":\"16858395-c742-4657-88c2-5af20c92718d\",\"oracle_id\":\"c6498ec5-fbbc-472a-9b40-5481e49efe79\",\"multiverse_ids\":[29750],\"mtgo_id\":16735,\"mtgo_foil_id\":16736,\"tcgplayer_id\":9486,\"cardmarket_id\":2623,\"name\":\"Pardic
        Firecat\",\"lang\":\"en\",\"released_at\":\"2001-10-01\",\"uri\":\"https://api.scryfall.com/cards/16858395-c742-4657-88c2-5af20c92718d\",\"scryfall_uri\":\"https://scryfall.com/card/ody/211/pardic-firecat?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/1/6/16858395-c742-4657-88c2-5af20c92718d.jpg?1562899265\",\"normal\":\"https://cards.scryfall.io/normal/front/1/6/16858395-c742-4657-88c2-5af20c92718d.jpg?1562899265\",\"large\":\"https://cards.scryfall.io/large/front/1/6/16858395-c742-4657-88c2-5af20c92718d.jpg?1562899265\",\"png\":\"https://cards.scryfall.io/png/front/1/6/16858395-c742-4657-88c2-5af20c92718d.png?1562899265\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/1/6/16858395-c742-4657-88c2-5af20c92718d.jpg?1562899265\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/1/6/16858395-c742-4657-88c2-5af20c92718d.jpg?1562899265\"},\"mana_cost\":\"{3}{R}\",\"cmc\":4.0,\"type_line\":\"Creature
        \u2014 Elemental Cat\",\"oracle_text\":\"Haste\\nIf Pardic Firecat is in a
        graveyard, effects from spells named Flame Burst count it as a card named
        Flame Burst.\",\"power\":\"2\",\"toughness\":\"3\",\"colors\":[\"R\"],\"color_identity\":[\"R\"],\"keywords\":[\"Haste\"],\"all_parts\":[{\"object\":\"related_card\",\"id\":\"64bbd438-7df2-4d7b-88ad-4531ebaf3931\",\"component\":\"combo_piece\",\"name\":\"Flame
        Burst\",\"type_line\":\"Instant\",\"uri\":\"https://api.scryfall.com/cards/64bbd438-7df2-4d7b-88ad-4531ebaf3931\"},{\"object\":\"related_card\",\"id\":\"16858395-c742-4657-88c2-5af20c92718d\",\"component\":\"combo_piece\",\"name\":\"Pardic
        Firecat\",\"type_line\":\"Creature \u2014 Elemental Cat\",\"uri\":\"https://api.scryfall.com/cards/16858395-c742-4657-88c2-5af20c92718d\"}],\"legalities\":{\"standard\":\"not_legal\",\"future\":\"not_legal\",\"h[...]
[...]
