interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://cubecobra.com/cube/api/cubejson/5d7488c28d85b07c66d22162
  response:
    body:
      string: "{\"defaultSorts\":[],\"following\":[\"5d8a2d89d6d574217d2b98da\"],\"shortId\":\"fun\",\"defaultFormat\":-1,\"visibility\":\"pu\",\"imageName\":\"Evil
        Twin [isd-212]\",\"name\":\"Fun with Multiples\",\"date\":1581824660775,\"defaultStatus\":\"Owned\",\"keywords\":[\"legacy\",\"fun\",\"with\",\"multiples\",\"silasary\"],\"owner\":{\"following\":[],\"theme\":\"default\",\"hideFeatured\":false,\"followedCubes\":[\"5e451e1f8524d5361602e4f0\",\"5dea9adeab0cee36bdec7966\",\"5e7be0ab7d65df45f55a28c8\",\"6004cbf36e945714fa78826f\"],\"imageName\":\"Ambush
        Viper\",\"followedUsers\":[\"5d710be430f3075de517bcc4\",\"5e7be06040eaf0158e772f2e\"],\"roles\":[],\"usernameLower\":\"silasary\",\"hideTagColors\":false,\"username\":\"silasary\",\"id\":\"5d7488788d85b07c66d21ff6\",\"patron\":\"null\",\"image\":{\"uri\":\"https://cards.scryfall.io/art_crop/front/0/c/0c082aa8-bf7f-47f2-baf8-43ad253fd7d7.jpg?1562826021\",\"artist\":\"Alan
        Pollack\",\"id\":\"0c082aa8-bf7f-47f2-baf8-43ad253fd7d7\",\"imageName\":\"Ambush
        Viper\"}},\"id\":\"5d7488c28d85b07c66d22162\",\"priceVisibility\":\"pu\",\"featured\":false,\"tags\":[],\"cardCount\":425,\"categoryOverride\":null,\"numDecks\":3,\"tagColors\":[],\"basics\":[\"1d7dba1c-a702-43c0-8fca-e47bbad4a00f\",\"42232ea6-e31d-46a6-9f94-b2ad2416d79b\",\"19e71532-3f79-4fec-974f-b0e85c7fe701\",\"8365ab45-6d78-47ad-a6ed-282069b0fabc\",\"0c4eaecf-dd4c-45ab-9b50-2abe987d35d4\"],\"defaultPrinting\":\"recent\",\"disableAlerts\":false,\"formats\":[],\"description\":\"This
        is a brand new cube!\",\"categoryPrefixes\":null,\"image\":{\"uri\":\"https://cards.scryfall.io/art_crop/front/3/a/3a53487a-c00b-42da-904c-f022a0c5b1ed.jpg?1562828783\",\"artist\":\"Greg
        Staples\",\"id\":\"3a53487a-c00b-42da-904c-f022a0c5b1ed\",\"imageName\":\"evil
        twin [isd-212]\"},\"cards\":{\"id\":\"5d7488c28d85b07c66d22162\",\"mainboard\":[{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"type_line\":\"Creature
        \u2014 Human Cleric\",\"addedTmsp\":1567918304773,\"details\":{\"cubedWith\":{\"top\":[],\"creatures\":[],\"spells\":[],\"other\":[]},\"draftedWith\":{\"top\":[],\"creatures\":[],\"spells\":[],\"other\":[]},\"elo\":1200,\"popularity\":0,\"cubeCount\":0,\"pickCount\":0,\"color_identity\":[\"W\"],\"set\":\"ori\",\"set_name\":\"Magic
        Origins\",\"finishes\":[\"nonfoil\",\"foil\"],\"collector_number\":\"10\",\"released_at\":\"2015-07-17\",\"reprint\":false,\"promo\":false,\"prices\":{\"usd\":0.06,\"usd_foil\":null,\"usd_etched\":null,\"eur\":0.02,\"tix\":0.02},\"digital\":false,\"isToken\":false,\"border_color\":\"black\",\"name\":\"Cleric
        of the Forward Order\",\"name_lower\":\"cleric of the forward order\",\"full_name\":\"Cleric
        of the Forward Order [ori-10]\",\"artist\":\"Chris Rallis\",\"scryfall_uri\":\"https://scryfall.com/card/ori/10/cleric-of-the-forward-order?utm_source=api\",\"rarity\":\"common\",\"oracle_text\":\"When
        Cleric of the Forward Order enters the battlefield, you gain 2 life for each
        creature you control named Cleric of the Forward Order.\",\"_id\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"oracle_id\":\"84a2a592-0e31-434f-b3b4-f2013d86f29d\",\"cmc\":2,\"legalities\":{\"Legacy\":\"legal\",\"Modern\":\"legal\",\"Standard\":\"not_legal\",\"Pioneer\":\"legal\",\"Pauper\":\"legal\",\"Brawl\":\"not_legal\",\"Historic\":\"not_legal\",\"Commander\":\"legal\",\"Penny\":\"legal\",\"Vintage\":\"legal\"},\"parsed_cost\":[\"w\",\"1\"],\"colors\":[\"W\"],\"type\":\"Creature
        \u2014 Human Cleric\",\"full_art\":false,\"language\":\"en\",\"mtgo_id\":57868,\"layout\":\"normal\",\"tcgplayer_id\":100185,\"power\":\"2\",\"toughness\":\"2\",\"image_small\":\"https://cards.scryfall.io/small/front/c/f/cfcea783-e9f0-4d44-ac74-5aee9a07aa69.jpg?1562042981\",\"image_normal\":\"https://cards.scryfall.io/normal/front/c/f/cfcea783-e9f0-4d44-ac74-5aee9a07aa69.jpg?1562042981\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/c/f/cfcea783-e9f0-4d44-ac74-5aee9a07aa69.jpg?1562042981\",\"colorcategory\":\"w\"},\"index\":0,\"board\":\"mainboard\"},{\"tags\":[\"New\"],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"status\":\"Not
        Owned\",\"cmc\":2,\"cardID\":\"cfcea783-e9f0-4d44-ac74-5aee9a07aa69\",\"type_line\":\"Creature
        \u2014 Human Cleric\",\"addedTmsp\":1567918304774,\"details\":{\"cubedWith\":{\"top\":[],\"creatures\":[],\"spells\":[],\"other\":[]},\"draftedWith\":{\"top\":[],\"creatures\":[],\"spells\":[],\"other\":[]},\"elo\":1200,\"popularity\":0,\"cubeCount\":0,\"pickCount\":0,\"color_identity\":[\"W\"[...]
