interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Jwari+Disruption+//+Jwari+Ruins
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"301750a7-d1fd-435e-bfa8-9d2fb22ad627\",\"oracle_id\":\"941a4b14-ea2a-4bd0-8cc2-d609f80df32c\",\"multiverse_ids\":[491693,491694],\"mtgo_id\":83079,\"arena_id\":73254,\"tcgplayer_id\":222101,\"cardmarket_id\":496395,\"name\":\"Jwari
        Disruption // Jwari Ruins\",\"lang\":\"en\",\"released_at\":\"2020-09-25\",\"uri\":\"https://api.scryfall.com/cards/301750a7-d1fd-435e-bfa8-9d2fb22ad627\",\"scryfall_uri\":\"https://scryfall.com/card/znr/64/jwari-disruption-jwari-ruins?utm_source=api\",\"layout\":\"modal_dfc\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"cmc\":2.0,\"type_line\":\"Instant
        // Land\",\"color_identity\":[\"U\"],\"keywords\":[],\"produced_mana\":[\"U\"],\"card_faces\":[{\"object\":\"card_face\",\"name\":\"Jwari
        Disruption\",\"mana_cost\":\"{1}{U}\",\"type_line\":\"Instant\",\"oracle_text\":\"Counter
        target spell unless its controller pays {1}.\",\"colors\":[\"U\"],\"flavor_text\":\"\\\"You
        worry too much.\\\"\\n\u2014Nys Dal, Sea Gate trapfinder\",\"artist\":\"Cliff
        Childs\",\"artist_id\":\"ed6f7e03-20ba-4c73-bdda-4a4928480721\",\"illustration_id\":\"9658aadf-bb95-4d45-8fe2-a0f7f2f7e262\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"normal\":\"https://cards.scryfall.io/normal/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"large\":\"https://cards.scryfall.io/large/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"png\":\"https://cards.scryfall.io/png/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.png?1604250757\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\"}},{\"object\":\"card_face\",\"name\":\"Jwari
        Ruins\",\"flavor_name\":\"\",\"mana_cost\":\"\",\"type_line\":\"Land\",\"oracle_text\":\"Jwari
        Ruins enters the battlefield tapped.\\n{T}: Add {U}.\",\"colors\":[],\"flavor_text\":\"\\\"The
        Ondu Skyclave was a center for rebellion against the capital in Makindi. Of
        course they built in deadly traps.\\\"\\n\u2014Nys Dal, Sea Gate trapfinder\",\"artist\":\"Cliff
        Childs\",\"artist_id\":\"ed6f7e03-20ba-4c73-bdda-4a4928480721\",\"illustration_id\":\"af2c8d11-3179-48c7-aed3-8957c04220c2\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/back/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"normal\":\"https://cards.scryfall.io/normal/back/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"large\":\"https://cards.scryfall.io/large/back/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"png\":\"https://cards.scryfall.io/png/back/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.png?1604250757\",\"art_crop\":\"https://cards.scryfall.io/art_crop/back/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\",\"border_crop\":\"https://cards.scryfall.io/border_crop/back/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757\"}}],\"legalities\":{\"standard\":\"not_legal\",\"future\":\"not_legal\",\"historic\":\"legal\",\"gladiator\":\"legal\",\"pioneer\":\"legal\",\"explorer\":\"legal\",\"modern\":\"legal\",\"legacy\":\"legal\",\"pauper\":\"not_legal\",\"vintage\":\"legal\",\"penny\":\"legal\",\"commander\":\"legal\",\"brawl\":\"not_legal\",\"historicbrawl\":\"legal\",\"alchemy\":\"not_legal\",\"paupercommander\":\"not_legal\",\"duel\":\"legal\",\"oldschool\":\"not_legal\",\"premodern\":\"not_legal\"},\"games\":[\"arena\",\"paper\",\"mtgo\"],\"reserved\":false,\"foil\":true,\"nonfoil\":true,\"finishes\":[\"nonfoil\",\"foil\"],\"oversized\":false,\"promo\":false,\"reprint\":false,\"variation\":false,\"set_id\":\"f4e01fa7-b254-42dd-849f-69b58027a8c4\",\"set\":\"znr\",\"set_name\":\"Zendikar
        Rising\",\"set_type\":\"expansion\",\"set_uri\":\"https://api.scryfall.com/sets/f4e01fa7-b254-42dd-849f-69b58027a8c4\",\"set_search_uri\":\"https://api.scryfall.com/cards/search?order=set\\u0026q=e%3Aznr\\u0026unique=prints\",\"scryfall_set_uri\":\"https://scryfall.com/sets/znr?utm_source=api\",\"rulings_uri\":\"https://api.scryfall.com/cards/301750a7-d1fd-435e-bfa8-9d2fb22ad627/rulings\",\"prints_search_uri\":\"https://api.scryfall.com/cards/search?order=released\\u0026q=oracleid%3A941a4b14-ea2a-4bd0-8cc2-d609f80df32c\\u0026unique=prints\",\"collector_number\":\"64\",\"digital\":false,\"rarity\":\"uncommon\",\"artist\":\"Cliff
        Childs\",\"artist_ids\":[\"ed6f7e03-20ba-4c73-bdda-4a4928480721\"],\"border_color\":\"black\",\"frame\":\"2015\",\"full_art\":false,\"textless\":false,\"booster\":true,\"story_spotlight\":false,\"edhrec_rank\":24043,\"penny_rank\":511,\"prices\":{\"usd\":\"0.29\",\"usd_foil\":\"1.82\",\"usd_etched\":null,\"eur\":\"0.22\",\"eur_foil\":\"1.02\",\"tix\":\"0.02\"},\"related_uris\":{\"gatherer\":\"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=491693\",\"tcgplayer_infinite_articles\":\"https://infinite.tcgplayer.com/search?contentMode=article\\u0026game=magic\\u0026partner=scryfall\\u0026q=Jwari+Disruption+%2F%2F+Jwari+Ruins\\u0026utm_campaign=affiliate\\u0026utm_medium=api\\u0026utm_source=scryfall\",\"tcgplayer_infinite_decks\":\"https://infinite.tcgplayer.com/search?contentMode=deck\\u0026game=magic\\u0026partner=scryfall\\u0026q=Jwari+Disruption+%2F%2F+Jwari+Ruins\\u0026utm_campaign=affiliate\\u0026utm_medium=api\\u0026utm_source=scryfall\",\"edhrec\":\"https://edhrec.com/route/?cc=Jwari+Disruption\"},\"purchase_uris\":{\"tcgplayer\":\"https://www.tcgplayer.com/product/222101?page=1\\u0026utm_campaign=affiliate\\u0026utm_medium=api\\u0026utm_source=scryfall\",\"cardmarket\":\"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\\u0026searchString=Jwari+Disruption\\u0026utm_campaign=card_prices\\u0026utm_medium=text\\u0026utm_source=scryfall\",\"cardhoarder\":\"https://www.cardhoarder.com/cards/83079?affiliate_id=scryfall\\u0026ref=card-profile\\u0026utm_campaign=affiliate\\u0026utm_medium=card\\u0026utm_source=scryfall\"}}"
    headers:
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35ed0c09fe25f70288f9363662f71d14"
      X-Action-Cache:
      - MISS
      X-Scryfall-Card:
      - https://scryfall.com/card/znr/64/jwari-disruption-jwari-ruins?utm_source=api
      X-Scryfall-Card-Image:
      - https://cards.scryfall.io/large/front/3/0/301750a7-d1fd-435e-bfa8-9d2fb22ad627.jpg?1604250757
    status:
      code: 200
      message: OK
    url: https://api.scryfall.com/cards/named?exact=Jwari+Disruption+//+Jwari+Ruins
version: 1
