interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://cubecobra.com/cube/api/cubejson/penny_dreadful
  response:
    body:
      string: "{\"_id\":\"5e451e1f8524d5361602e4f0\",\"isListed\":true,\"privatePrices\":false,\"isFeatured\":false,\"overrideCategory\":true,\"categoryOverride\":\"Legacy\",\"categoryPrefixes\":[\"Budget\"],\"tags\":[\"penny\",\"pd\"],\"decks\":[\"5e9c68020ceca41065f8d156\",\"5ea3108d09bbf1105ecb13c2\",\"5ea3108d09bbf1105ecb13c2\",\"5ea3125b09bbf1105ecb395e\",\"5ea3125b09bbf1105ecb395e\",\"5ea3255c09bbf1105eccf3ab\",\"5ea35ebf74a3591072248569\",\"5ea35ebf74a3591072248569\",\"5ea3608e74a3591072249d92\",\"5ea3608e74a3591072249d92\",\"5ea734dd3097fd5e4515965d\",\"5ea734dd3097fd5e4515965d\",\"5ea7403709bbf1105ef8efb7\",\"5ea7403709bbf1105ef8efb7\",\"5ea742fd09bbf1105ef9400f\",\"5ea742fd09bbf1105ef9400f\",\"5ea7b5353097fd5e451debc5\",\"5ea7b5353097fd5e451debc5\",\"5ea80dfc09bbf1105e009f96\",\"5ea80dfc09bbf1105e009f96\",\"5ea80fe209bbf1105e00ae0a\",\"5ea80fe209bbf1105e00ae0a\",\"5ea84f0909bbf1105e03af89\",\"5ea84f0909bbf1105e03af89\",\"5ea84fc909bbf1105e03c709\",\"5ea84fc909bbf1105e03c709\",\"5eac14b9fa1cf365e7e19691\",\"5eac14b9fa1cf365e7e19691\",\"5eac15a4fa1cf365e7e1bba3\",\"5eac15a4fa1cf365e7e1bba3\",\"5eac2af0fa1cf365e7e280c0\"],\"default_sorts\":[\"Color
        Category\",\"Types-Multicolor\",\"Mana Value\",\"Alphabetical\"],\"users_following\":[\"5d6f356efe917f3064999bd1\",\"5d7488788d85b07c66d21ff6\",\"5dfd074d2c95325be75f2a3d\",\"5e896bb0af77b243a6a681d1\",\"5ddebd342e9e9a18f63ae37e\",\"5ef2c7d2b309ec14468aa95d\",\"5e677ef590077871371c78d2\",\"5fbbf43c8e1dc31071c8fe3d\",\"5f83aa5b00b64f103af1ec0c\",\"6076f9acde8cdf109b6e7f1f\",\"5e7164bf6f01105bb08300e6\",\"600e3c73d10c2d1038f02f94\",\"5ddec3ed2e9e9a18f63b07cc\",\"5dc5c5e553699c6495c0f27c\",\"605c1855959c961041548ae7\"],\"cards\":[{\"cmc\":1,\"colorCategory\":null,\"finish\":\"Non-foil\",\"index\":null,\"isUnlimited\":false,\"rarity\":\"uncommon\",\"status\":\"Owned\",\"tags\":[],\"type_line\":\"Creature
        \u2014 Human Knight\",\"_id\":\"633c45972f673e71f6a1f813\",\"colors\":[\"W\"],\"addedTmsp\":\"2022-10-04T14:39:19.212Z\",\"imgUrl\":null,\"imgBackUrl\":null,\"notes\":\"\",\"cardID\":\"a3f82012-5c33-47bc-a3c8-56ae2eea1fb9\"},{\"cmc\":1,\"colorCategory\":null,\"finish\":\"Non-foil\",\"index\":null,\"isUnlimited\":false,\"rarity\":\"common\",\"status\":\"Owned\",\"tags\":[],\"type_line\":\"Creature
        \u2014 Human Soldier\",\"_id\":\"633c45972f673e71f6a1f814\",\"colors\":[\"W\"],\"addedTmsp\":\"2022-10-04T14:39:19.212Z\",\"imgUrl\":null,\"imgBackUrl\":null,\"notes\":\"\",\"cardID\":\"1bbfd61b-fba3-4826-817a-e0eed7b8eda0\"},{\"cmc\":1,\"colorCategory\":null,\"finish\":\"No[...]
