interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://cubecobra.com/cube/api/cubejson/a93
  response:
    body:
      string: "{\"_id\":\"5e7be0ab7d65df45f55a28c8\",\"isListed\":true,\"privatePrices\":false,\"isFeatured\":false,\"overrideCategory\":false,\"categoryOverride\":\"Vintage\",\"categoryPrefixes\":[],\"tags\":[],\"decks\":[],\"default_sorts\":[],\"users_following\":[\"5d7488788d85b07c66d21ff6\"],\"defaultStatus\":\"Owned\",\"defaultPrinting\":\"recent\",\"cards\":[{\"tags\":[],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5e7be0cc7d65df45f55a2eea\",\"status\":\"Owned\",\"cmc\":1,\"cardID\":\"2e7f9919-0713-4ef9-96eb-3e0c444e47f4\",\"type_line\":\"Legendary
        Creature \u2014 Hound\",\"addedTmsp\":\"2020-03-25T22:53:00.487Z\"},{\"tags\":[],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5e7be0cc7d65df45f55a2eeb\",\"status\":\"Owned\",\"cmc\":1,\"cardID\":\"58c39df6-b237-40d1-bdcb-2fe5d05392a9\",\"type_line\":\"Legendary
        Creature \u2014 Human Soldier\",\"addedTmsp\":\"2020-03-25T22:53:00.488Z\"},{\"tags\":[],\"finish\":\"Non-foil\",\"colors\":[\"W\"],\"_id\":\"5e7be0cc7d65df45f55a2eec\",\"status\":\"Owned\",\"cmc\":1,\"cardID\":\"0c4d9f40-8164-46a8-9ef3-91f6fd132c0e\",\"type_l[...]
