interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Lightning+Bolt
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"77c6fa74-5543-42ac-9ead-0e890b188e99\",\"oracle_id\":\"4457ed35-7c10-48c8-9776-456485fdf070\",\"multiverse_ids\":[651876],\"tcgplayer_id\":534658,\"cardmarket_id\":752712,\"name\":\"Lightning
        Bolt\",\"lang\":\"en\",\"released_at\":\"2024-02-23\",\"uri\":\"https://api.scryfall.com/cards/77c6fa74-5543-42ac-9ead-0e890b188e99\",\"scryfall_uri\":\"https://scryfall.com/card/clu/141/lightning-bolt?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.jpg?1706239968\",\"normal\":\"https://cards.scryfall.io/normal/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.jpg?1706239968\",\"large\":\"https://cards.scryfall.io/large/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.jpg?1706239968\",\"png\":\"https://cards.scryfall.io/png/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.png?1706239968\",\"art_crop\":\"https://cards.scryfall.io/art_crop/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.jpg?1706239968\",\"border_crop\":\"https://cards.scryfall.io/border_crop/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.jpg?1706239968\"},\"mana_cost\":\"{R}\",\"cmc\":1.0,\"type_line\":\"Instant\",\"oracle_text\":\"Lightning
        Bolt deals 3 damage to any target.\",\"colors\":[\"R\"],\"color_identity\":[\"R\"],\"keywords\":[],\"all_parts\":[{\"object\":\"related_card\",\"id\":\"77c6fa74-5543-42ac-9ead-0e890b188e99\",\"component\":\"combo_piece\",\"name\":\"Lightning
        Bolt\",\"type_line\":\"Instant\",\"uri\":\"https://api.scryfall.com/cards/77c6fa74-5543-42ac-9ead-0e890b188e99\"},{\"object\":\"related_card\",\"id\":\"4982f15f-2191-4cff-96c6-e42ce6fbc54f\",\"component\":\"combo_piece\",\"name\":\"Toralf's
        Disciple\",\"type_line\":\"Creature \u2014 Human Warrior\",\"uri\":\"https://api.scryfall.com/cards/4982f15f-2191-4cff-96c6-e42ce6fbc54f\"},{\"object\":\"related_card\",\"id\":\"69b51576-532b-450e-a8bf-0482cac04618\",\"component\":\"combo_piece\",\"name\":\"Thayan
        Evokers\",\"type_line\":\"Creature \u2014 Human Wizard\",\"uri\":\"https://api.scryfall.com/cards/69b51576-532b-450e-a8bf-0482cac04618\"}],\"legalities\":{\"standard\":\"not_legal\",\"future\":\"not_legal\",\"historic\":\"banned\",\"timeless\":\"legal\",\"gladiator\":\"legal\",\"pioneer\":\"not_legal\",\"explorer\":\"not_legal\",\"modern\":\"legal\",\"legacy\":\"legal\",\"pauper\":\"legal\",\"vintage\":\"legal\",\"penny\":\"not_legal\",\"commander\":\"legal\",\"oathbreaker\":\"legal\",\"standardbrawl\":\"not_legal\",\"brawl\":\"legal\",\"alchemy\":\"not_legal\",\"paupercommander\":\"legal\",\"duel\":\"legal\",\"oldschool\":\"not_legal\",\"premodern\":\"legal\",\"predh\":\"legal\"},\"games\":[\"paper\"],\"reserved\":false,\"foil\":false,\"nonfoil\":true,\"finishes\":[\"nonfoil\"],\"oversized\":false,\"promo\":false,\"reprint\":true,\"variation\":false,\"set_id\":\"d4bfabcf-a859-43a4-9d8a-665533c8b174\",\"set\":\"clu\",\"set_name\":\"Ravnica:
        Clue Edition\",\"set_type\":\"draft_innovation\",\"set_uri\":\"https://api.scryfall.com/sets/d4bfabcf-a859-43a4-9d8a-665533c8b174\",\"set_search_uri\":\"https://api.scryfall.com/cards/search?order=set&q=e%3Aclu&unique=prints\",\"scryfall_set_uri\":\"https://scryfall.com/sets/clu?utm_source=api\",\"rulings_uri\":\"https://api.scryfall.com/cards/77c6fa74-5543-42ac-9ead-0e890b188e99/rulings\",\"prints_search_uri\":\"https://api.scryfall.com/cards/search?order=released&q=oracleid%3A4457ed35-7c10-48c8-9776-456485fdf070&unique=prints\",\"collector_number\":\"141\",\"digital\":false,\"rarity\":\"uncommon\",\"flavor_text\":\"The
        sparkmage shrieked, calling on the rage of the storms of his youth. To his
        surprise, the sky responded with a fierce energy he'd never thought to see
        again.\",\"card_back_id\":\"0aeebaf5-8c7d-4636-9e82-8c27447861f7\",\"artist\":\"Christopher
        Moeller\",\"artist_ids\":[\"21e10012-06ae-44f2-b38d-3824dd2e73d4\"],\"illustration_id\":\"013e7eda-ef8e-44cd-9832-4033d9de1c34\",\"border_color\":\"black\",\"frame\":\"2015\",\"full_art\":false,\"textless\":false,\"booster\":false,\"story_spotlight\":false,\"edhrec_rank\":212,\"prices\":{\"usd\":\"0.51\",\"usd_foil\":null,\"usd_etched\":null,\"eur\":\"1.31\",\"eur_foil\":null,\"tix\":null},\"related_uris\":{\"gatherer\":\"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=651876&printed=false\",\"tcgplayer_infinite_articles\":\"https://tcgplayer.pxf.io/c/4931599/1830156/21018?subId1=api&trafcat=infinite&u=https%3A%2F%2Finfinite.tcgplayer.com%2Fsearch%3FcontentMode%3Darticle%26game%3Dmagic%26partner%3Dscryfall%26q%3DLightning%2BBolt\",\"tcgplayer_infinite_decks\":\"https://tcgplayer.pxf.io/c/4931599/1830156/21018?subId1=api&trafcat=infinite&u=https%3A%2F%2Finfinite.tcgplayer.com%2Fsearch%3FcontentMode%3Ddeck%26game%3Dmagic%26partner%3Dscryfall%26q%3DLightning%2BBolt\",\"edhrec\":\"https://edhrec.com/route/?cc=Lightning+Bolt\"},\"purchase_uris\":{\"tcgplayer\":\"https://tcgplayer.pxf.io/c/4931599/1830156/21018?subId1=api&u=https%3A%2F%2Fwww.tcgplayer.com%2Fproduct%2F534658%3Fpage%3D1\",\"cardmarket\":\"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall&searchString=Lightning+Bolt&utm_campaign=card_prices&utm_medium=text&utm_source=scryfall\",\"cardhoarder\":\"https://www.cardhoarder.com/cards?affiliate_id=scryfall&data%5Bsearch%5D=Lightning+Bolt&ref=card-profile&utm_campaign=affiliate&utm_medium=card&utm_source=scryfall\"}}"
    headers:
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"389f3c40878df1dbb619877b26d0fbf6"
      X-Action-Cache:
      - MISS
      X-Scryfall-Card:
      - https://scryfall.com/card/clu/141/lightning-bolt?utm_source=api
      X-Scryfall-Card-Image:
      - https://cards.scryfall.io/large/front/7/7/77c6fa74-5543-42ac-9ead-0e890b188e99.jpg?1706239968
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Shock
  response:
    body:
      string: '{"object":"card","id":"298747bb-eb40-4b58-bb22-4ac2bc1d795c","oracle_id":"a9d288b8-cdc1-4e55-a0c9-d6edfc95e65d","multiverse_ids":[646702],"mtgo_id":121766,"arena_id":89059,"tcgplayer_id":529993,"cardmarket_id":750666,"name":"Shock","lang":"en","released_at":"2024-02-09","uri":"https://api.scryfall.com/cards/298747bb-eb40-4b58-bb22-4ac2bc1d795c","scryfall_uri":"https://scryfall.com/card/mkm/144/shock?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://cards.scryfall.io/small/front/2/9/298747bb-eb40-4b58-bb22-4ac2bc1d795c.jpg?1706241920","normal":"https://cards.scryfall.io/normal/front/2/9/298747b[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Goblin+Guide
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"3c0f5411-1940-410f-96ce-6f92513f753a\",\"oracle_id\":\"51d9564b-44fc-4de1-9119-09d7b4089378\",\"multiverse_ids\":[489800],\"mtgo_id\":82288,\"tcgplayer_id\":218846,\"cardmarket_id\":485919,\"name\":\"Goblin
        Guide\",\"lang\":\"en\",\"released_at\":\"2020-08-07\",\"uri\":\"https://api.scryfall.com/cards[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Ponder
  response:
    body:
      string: '{"object":"card","id":"44dcfc0c-b23d-48be-bf3a-a6fc6806c5e1","oracle_id":"02090581-61aa-4348-ad57-451be8ee91c2","multiverse_ids":[559801],"tcgplayer_id":269358,"cardmarket_id":652813,"name":"Ponder","lang":"en","released_at":"2022-04-29","uri":"https://api.scryfall.com/cards/44dcfc0c-b23d-48be-bf3a-a6fc6806c5e1","scryfall_uri":"https://scryfall[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Fae+of+Wishes
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"e3435fd6-8f51-4d99-a278-4ddb088acfe1\",\"oracle_id\":\"c0abbed2-d213-47ef-8d6c-4a21efb9a55f\",\"multiverse_ids\":[473006],\"mtgo_id\":78192,\"arena_id\":70191,\"tcgplayer_id\":199346,\"cardmarket_id\":401479,\"name\":\"Fae
        of Wishes // Granted\",\"lang\":\"en\",\"released_at\":\"2019-10-04\",\"uri\":[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Bonecrusher+Giant
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"b5b71cd2-de35-451f-b16e-2e3936169407\",\"oracle_id\":\"d6d72f5f-8f5d-4180-b514-f22ff5482902\",\"multiverse_ids\":[567598],\"tcgplayer_id\":273681,\"cardmarket_id\":661922,\"name\":\"Bonecrusher
        Giant // Stomp\",\"lang\":\"en\",\"released_at\":\"2022-06-10\",\"uri\":\"https://api.scryfall.com/card[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.scryfall.com/cards/named?exact=Choke
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"e1ce4bab-6eb1-421f-b425-7bb0076defc7\",\"oracle_id\":\"057fa60b-10b0-4612-be0d-157076c82241\",\"multiverse_ids\":[45431],\"mtgo_id\":19021,\"mtgo_foil_id\":19022,\"tcgplayer_id\":11197,\"cardmarket_id\":873,\"name\":\"Choke\",\"lang\":\"en\",\"released_at\":\"2003-07-28\",\"uri\":\"https://api.scryfall.com/cards/e1ce4bab-6eb1-421f-b425-7bb0076defc7\",\"scryfall_uri\":\"https://scryfall.com/card/8ed/237/choke?utm_source=api\",\"layout\":\"normal\",\"highres_image\":true,\"image_status\":\"highres_scan\",\"image_uris\":{\"small\":\"https://cards.scryfall.io/small/front/e/1/e1ce4bab-6eb1-421f-b425-7bb0076defc7.jpg?1562940352\",\"normal\":\"https://car[...]
[...]
